<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head lang="en">

    <title>Home</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>

</head>
<body>
    <div th:include="fragments/header :: header"></div>

    <div class="container">
        <div class="jumbotron">
            <div th:if="${not #lists.isEmpty(products)}">
                <div class="row text-center">
                <h2>All of our products</h2>
                    <div th:each="product : ${products}">
                        <!--<div class="row">-->
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img th:src="@{${product.imageUrl}}"/>
                                    <div class="caption">
                                        <h3 th:text="${product.description}">Description</h3>
                                        <p th:text="${product.price}">...</p>
                                        <p class="row">
                                            <span class="col-xs-12 col-sm-6">
                                                <a href="#" th:href="${'/product/' + product.id}" class="btn btn-primary btn-block" role="button">View More</a>
                                            </span>
                                            <span class="col-xs-12 col-sm-6">
                                                <a href="#" th:href="${'/product/delete/' + product.id}" class="btn btn-primary btn-block" role="button">Remove</a>
                                            </span>
                                        </p>
                                    </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: foot"></div>
</body>
</html>